.fieldset {
  &__select {
    border-radius: 10px;
    color: $black;
    background-color: $secondwhite;
    width: 100%;
    @include tablet() {
      width: 230px;
      margin-left: 1px;
    }
  }
}

.option {
  color: $yellow;
}
