.fieldset {
  border-color: transparent;
  &__label {
    display: flex;
    flex-direction: column;
    color: $yellow;
    margin-bottom: 10px;
    font-size: 15px;
    @include tablet() {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
  &__input {
    border-radius: 10px;
    padding-left: 7px;
    color: $black;
    background-color: $secondwhite;
    width: 100%;
    @include tablet() {
      width: 230px;
    }
  }
}
