.detail {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;

  @include tablet() {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  &__img {
    width: 290px;
    padding-bottom: 40px;

    @include tablet() {
      width: 500px;
      width: 500px;
      padding-bottom: 0;
    }
  }
  &__article {
    &--title {
      font-size: 22px;
      padding-bottom: 20px;
      @include tablet() {
        font-size: 40px;
        padding-bottom: 250px;
      }
    }
    &--director {
      padding-bottom: 10px;
      color: $font-color;
      font-size: 16px;
      text-align: center;
      @include tablet() {
        font-size: 20px;
        text-align: left;
      }
    }
    &--year {
      padding-bottom: 10px;
      color: $font-color;
      font-size: 16px;
      text-align: center;
      @include tablet() {
        font-size: 20px;
        text-align: left;
      }
    }
    &--quote {
      padding-bottom: 10px;
      color: $font-color;
      font-size: 16px;
      text-align: center;
      @include tablet() {
        font-size: 20px;
        text-align: left;
      }
    }
    &--fa {
      color: $white;
    }
  }
}

.articlebtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet() {
    align-items: normal;
  }
}

.span {
  color: $yellow;
  font-size: 22px;
  padding-bottom: 20px;
  @include tablet() {
    font-size: 40px;
    padding-bottom: 250px;
  }
}

.div {
  background-color: $specialgrey;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border-radius: 10px;
  :hover {
    color: $yellow;
    text-decoration: underline;
  }
  &__audio {
    background-color: $specialgrey;
    font-size: 20px;
    color: $white;
  }
  &__btn {
    background-color: $specialgrey;
    font-size: 20px;
    color: $white;
  }
}
